.l-about {
  display: grid;
  grid-template-rows: repeat(4, 596px);
  grid-row-gap: 80px;
  width: 375px;
  height: 2788px;
  background-color: transparent;
  padding: unset;
  margin: auto;
  opacity: 1;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 64px;

  .about-box {
    display: flex;
    height: 1125.146728515625px;
    width: 375px;
    padding: 24px 24px;
    margin: auto;
    top: 3506px;
    border-radius: 0px;
    padding: 114px, 24px, 114px, 24px;
  }

  .about-box-top {
    .top-title {
      display: flex;
      width: 50%;
      height: 100px;
      color: rgba(23, 43, 77, 1);
      position: absolute;
      top: 114px;
      left: 48px;
      font-family: Poppins;
      font-weight: Bold;
      font-size: 40px;
      opacity: 1;
      text-align: left;
    }

    .top-parraf {
      width: 327px;
      color: rgba(52, 69, 99, 1);
      position: relative;
      top: 234px;
      left: 24px;
      font-family: Poppins;
      font-weight: Regular;
      font-size: 16px;
      opacity: 1;
      text-align: left;
    }

    .social-media {
      width: 200px;
      height: 80px;
      background: url("../images/v1_91.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 16px;
      opacity: 1;
      position: absolute;
      top: 410px;
      left: 24px;
      overflow: hidden;

      .supporting {
        width: 117px;
        height: 24px;
        background: url("../images/v1_92.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: 8px;
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;

        .social-text {
          width: 150px;
          margin-bottom: 20px;
          color: #7f8cff;
          position: relative;
          top: -40px;
          left: 0;
          font-family: "Poppins", Arial, Verdana, Tahoma, sans-serif;
          font-weight: 400;
          font-size: 16px;
          opacity: 1;
          text-align: left;
        }

        .social-icons {
          align-items: center;
          display: flex;
          width: 200px;
          height: 40px;
          background: url(../images/v1_336.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          padding: 5px;
          position: absolute;
          top: 35px;
          left: 2px;
          overflow: hidden;
        }
      }
    }
  }

  .about-experience {
    width: 327px;
    height: 464px;
    background: url(../images/v1_126.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 547px;
    left: 24px;
    overflow: hidden;
  }
}

/*************************************************************************/
