/**
* contact.scss
*
* This is the Contact Layout where the form and action
* button are. This is a really important part of the page
* were we want the user to contact us to help him with his
* project. It is important to trasmit proffesionalism and
* confidence.
*
* - Use white color to transmit trust.
* - Use blue color to transmit stability and confidence.
* - Use rounded corners, they are easier on the eyes.
*
*/

.l-contact {
  display: flex;
  flex-direction: column;
  height: 779px;
  width: 375px;
  border-top-left-radius: 90px;
  background-color: $blue-4;
  position: relative;

  /*  background images  */

  .e-12 {
    height: 21px;
    width: 21px;
    left: 153px;
    top: 55px;
    position: relative;
  }

  .e-3 {
    height: 90px;
    width: 70px;
    left: 330px;
    top: 55px;
    position: absolute;
    transform: rotate(12deg);
  }

  .r-6-b {
    display: none;
  }

  .r-7 {
    height: 82px;
    width: 100px;
    right: -40px;
    top: 5px;
    position: absolute;
    transform: rotate(115deg);
  }

  .e-5 {
    height: 30px;
    width: 30px;
    left: 250px;
    top: 695px;
    position: absolute;
  }

  .r-7-b {
    height: 60px;
    width: 75px;
    right: 50px;
    top: 665px;
    position: absolute;
    -webkit-transform: rotate(115deg);
    transform: rotate(0deg);
  }

  /*  block 1/3 - Text  */

  &__text {
    width: 327px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 103px;
    text-align: center;
    display: grid;
    order: 1;
    float: initial;

    .text-title {
      color: white;
      position: relative;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 52px;
      display: flex;
      margin: auto;
    }

    .text-parraf {
      color: white;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
    }
  }

  /*  block 2/3 - Form  */

  form {
    color: $gray;
    display: grid;
    grid-template-rows: 48px 48px 170px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-gap: 12px;
    top: 50px;
    order: 2;
    float: initial;
    margin: auto;
    width: 327px;

    &:invalid > #submit {
      background-color: white;
      border: 1px solid $gray-light;
      color: $gray-dark;
    }

    ::-webkit-input-placeholder {
      /* Edge */
      color: $gray;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray;
    }

    ::placeholder {
      color: $gray;
    }

    .input {
      height: 48px;
      width: 327px;
      border-radius: 8px;
      border-color: unset;
      border-image: unset;
      border-style: unset;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      padding-left: 16px;
      transition: all 0.9s cubic-bezier(0.86, 0, 0.07, 1);

      &:hover {
        padding: 6px;
      }
    }

    .input-message {
      color: $blue-1;
      height: 170px;
      width: 327px;
      border-radius: 8px;
      border-color: unset;
      border-image: unset;
      border-style: unset;
      padding-left: 16px;
      padding-top: 15px;
      font-family: inherit;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      transition: all 0.9s cubic-bezier(0.86, 0, 0.07, 1);

      &:hover {
        padding-left: 6px;
      }
    }

    button {
      top: unset;
      position: relative;
      grid-row-start: 4;
    }
  }

  /*  block 3/3 - Action  */

  &__action {
    display: grid;
    grid-template-rows: auto 20px;
    grid-row-start: 3;
    grid-column-start: 2;
    padding-top: 22px;
    order: 3;
    float: initial;

    .line-shape {
      grid-row-start: 2;
      margin: auto;
      height: 5px;
      width: 134px;
      bottom: 8px;
      position: relative;
    }
  }

  /*  Desktop values  */

  @media only screen and (min-width: 1024px) {
    width: 100%;
    height: 846px;

    &__text {
      width: 800px;
      justify-content: center;

      .text-parraf {
        width: 596px;
        margin-bottom: 36px;
      }
    }

    form {
      width: 447px;
      margin-top: unset;
      grid-row-gap: 27px;

      .input {
        width: 447px;
      }

      .input-message {
        width: 447px;
      }

      .c-b-normal-button {
        margin: auto;
        margin-top: 12px;
      }
    }

    &__action {
      .line-shape {
        display: none;
      }
    }

    /*  background images  */

    .e-5 {
      height: 30px;
      width: 30px;
      left: 75px;
      top: 373px;
      position: absolute;
    }

    .e-6-b {
      height: 30px;
      width: 30px;
      left: 358px;
      bottom: 48px;
      position: absolute;
    }

    .e-11-b {
      width: 40px;
      height: 30px;
      top: 760px;
      left: 370px;
    }

    .e-12 {
      height: 21px;
      width: 21px;
      left: 600px;
      top: 100px;
      position: relative;
    }

    .e-12-b {
      width: 48px;
      height: 48px;
      right: 236px;
      top: 521px;
    }

    .e-3-w {
      height: 100px;
      width: 100px;
      right: 74px;
      top: 119px;
      position: absolute;
      transform: rotate(12deg);
    }

    .r-6-b {
      width: 55px;
      height: 32px;
      top: 741px;
      left: 341px;
      position: absolute;
    }

    .r-7 {
      height: 82px;
      width: 100px;
      top: 80px;
      right: 110px;
      position: absolute;
      transform: rotate(115deg);
    }

    .r-7-b {
      height: 60px;
      width: 75px;
      left: 63px;
      top: 338px;
      position: absolute;
      -webkit-transform: rotate(115deg);
      transform: rotate(0deg);
    }
  }
}
