/**
*contact.scss
*
* This is the Contact Layout where the form and action
* button are. This is a really important part of the page
* were we want the user to contact us to help him with his
* project. It is important to trasmit proffesionalism and 
* confidence.
* 
* - Use white color to transmit trust.
* - Use blue color to transmit stability and confidence.
* - Use rounded corners, they are easier on the eyes. 
*
*/
//  Layout contact

.l-contact {
height: 779px;
width: 375px;
left: 0px;
top: 5410px;
border-top-left-radius: 90px;
background-color: $blue-4;

// Background Images

.e-8-b {
    
}

}