/**
*
* header.scss
*
* One of the fundamental parts of a website.
* It includes:
* - Navigation bar
* - Logo
* - Menu button
 layout header  */

.l-header {
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0%;
  z-index: 10;

  /* main block  -  Navigation  */

  &__nav {
    position: absolute;
    width: 100%;
    height: 45px;

    .logo-text {
      display: inline-block;
      color: $blue-4;
      width: 76px;
      height: 45px;
      position: relative;
      top: 12px;
      left: 24px;
      font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
      font-weight: bold;
      font-size: 18px;
      opacity: 1;
      text-align: center;
      text-decoration: none;
      -webkit-animation: rotate 0.9s ease-in-out;
      animation: rotate 0.9s ease-in-out;
    }

    .menu {
      width: 48px;
      height: 48px;
      float: right;
    }

    .menu:hover {
      transform: scale(1.2);
    }

    .menu-buttons {
      display: none;
    }
  }

  // Desktop values

  @media only screen and (min-width: 1024px) {
    /* main block  -  Navigation  */

    &__nav {
      .logo-text {
        margin-left: 155px;
      }

      .menu {
        display: none;
      }

      .menu-buttons {
        display: flex;
        float: right;
        margin-top: unset;
        margin-right: 154px;
        height: 45px;
        align-items: center;

        .menu-button {
          color: $gray-dark;
          font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: unset;
          text-align: center;
          text-decoration: none;
          margin-right: 32px;
        }
      }
    }
  }
}
