/**
* landing.scss
*
* This is the Landing Layout were we try to impress the
* user and make him to stay. So it's important to use
* shapes and colors that make him feel confortable and
* transmit all the emotions and ideas that we think would
* help us to make him trust on us and give us a job.
*
* - Use white color to transmit trust.
* - Use black color to transmit being elegant, formal, slick or modern.
* - Use blue color to transmit stability and confidence.
* - Use rounded corners, they are easier on the eyes.
/*  Layout landing  */

.l-landing {
  background-color: white;
  position: static;
  display: grid;
  width: 375px;
  height: 718px;
  grid-row-start: 1;
  border-bottom-left-radius: 64px;

  /* Background Images  */

  .e-3 {
    width: 105px;
    height: 105px;
    left: 332px;
    top: 81px;
  }

  .e-4 {
    width: 20px;
    height: 20px;
    top: 657px;
    left: 232px;
  }

  .e-5 {
    width: 12px;
    height: 12px;
    left: 125px;
    top: 95px;
  }

  .e-8 {
    width: 15px;
    height: 15px;
    top: 50px;
    left: 210px;
  }

  .e-11 {
    width: 45px;
    height: 35px;
    left: -20px;
    top: 60px;
  }

  .e-12 {
    width: 25px;
    height: 12px;
    top: 533px;
    left: 317px;
  }

  .e-13 {
    width: 30px;
    height: 30px;
    top: 540px;
    left: 304px;
  }

  .e-15 {
    width: 15px;
    height: 15px;
    top: 645px;
    left: 53px;
  }

  .r-4 {
    width: 88px;
    height: 93px;
    top: 32px;
    left: 311px;
    transform: rotate(15deg);
  }

  .r-5 {
    width: 68px;
    height: 12px;
    top: 653px;
    left: 187px;
  }

  .r-7 {
    width: 37px;
    height: 30px;
    left: 113px;
    top: 74px;
  }

  /*  block 1/3 - Title Text    */

  .header-text {
    width: 327px;
    color: rgba(23, 43, 77, 1);
    position: relative;
    top: 90px;
    font-family: "Poppins", Arial, Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    opacity: 1;
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
  }

  /*  block 2/3 - Parraf Text   */

  .header-parraf {
    width: 327px;
    height: 180px;
    background-color: white;
    color: rgba(52, 69, 99, 1);
    position: relative;
    top: unset;
    left: 24px;
    line-height: 24px;
    font-family: "Poppins", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    z-index: 1;
  }

  /*  block 3/3 - Social Icons  */

  .social {
    position: absolute;
    top: 530px;
    left: 24px;
    width: 300px;
    overflow: hidden;
    z-index: 3;
    height: 200px;
    display: grid;

    .social-text {
      width: 150px;
      margin-bottom: 20px;
      color: #7f8cff;
      position: relative;
      font-family: "Poppins", Arial, Verdana, Tahoma, sans-serif;
      font-weight: 400;
      font-size: 16px;
      opacity: 1;
      text-align: left;
    }

    .social-icons {
      align-items: center;
      display: flex;
      width: 200px;
      height: 40px;
      opacity: 1;
      padding: 5px;
      position: absolute;
      top: 35px;
      left: 2px;
      overflow: hidden;
    }

    .icon {
      margin-right: 20px;
      cursor: pointer;
    }

    .icon:hover {
      transform: scale(1.2);
    }
  }

  /*  Desktop values  */

  @media only screen and (min-width: 1024px) {
    width: 100%;
    height: 916px;
    grid-template-columns: auto 960px auto;

    .header-text {
      align-self: end;
      width: 920px;
      grid-column-start: 2;
      height: 122px;
      margin-top: 260px;
      margin-left: unset;
      margin-bottom: unset;
      font-size: 48px;
      top: unset;
    }

    .header-parraf {
      width: 920px;
      grid-column-start: 2;
      height: 98px;
      font-size: 20px;
      margin-left: unset;
      margin-bottom: unset;
      margin-top: unset;
      left: unset;
    }

    .social {
      margin-left: unset;
      top: -36px;
      left: unset;
      grid-column-start: 2;
      grid-row-start: 3;
      position: relative;
    }

    /*  Backgound images  */

    .e-3 {
      width: 224px;
      height: 224px;
      top: 160px;
      right: 8px;
      left: unset;
    }

    .e-4 {
      width: 47px;
      height: 47px;
      top: 757px;
      left: 840px;
      z-index: 2;
    }

    .e-5 {
      width: 32px;
      height: 32px;
      top: 256px;
      left: 708px;
    }

    .e-8 {
      display: none;
    }

    .e-11 {
      width: 90px;
      height: 70px;
      top: 190px;
      left: 80px;
      z-index: 2;
    }

    .e-12 {
      width: 37px;
      height: 19px;
      top: 768px;
      left: 377px;
      transform: rotate(185deg);
      z-index: 2;
    }

    .e-13 {
      width: 40px;
      height: 40px;
      top: 780px;
      left: 365px;
      background-size: contain;
    }

    .r-4 {
      width: 90px;
      height: 90px;
      top: 750px;
      left: 780px;
      transform: rotate(70deg);
    }

    .r-5 {
      width: 162px;
      height: 90px;
      top: 115px;
      right: 100px;
      left: unset;
      transform: rotate(124deg) scale(1.2);
    }

    .r-6 {
      width: 115px;
      height: 120px;
      top: 130px;
      left: 35px;
      background-size: cover;
    }

    .r-7 {
      width: 70px;
      height: 58px;
      top: 220px;
      left: 690px;
      transform: rotate(125deg);
    }
  }
}
