@-webkit-keyframes rise {
  0% {
    top: 100vh;
  }

  100% {
    top: 0.000001vh;
  }
}

@keyframes rise {
  0% {
    top: 100vh;
  }

  100% {
    top: 0.000001vh;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
