/*
*
* images.scss
*
* This file contains all the images found in this project
*
*  - Global images
*  - l-works
*  - l-about
*  - l-contact
*
******************

/*   Global images  */

.e-3 {
  background-image: url("../images/Ellipse-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.e-3-w {
  background-image: url("../images/Ellipse3-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.e-4 {
  background-image: url("../images/Ellipse-4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-4-b {
  background-image: url("../images/Ellipse-4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-5 {
  background-image: url("../images/Ellipse-5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-8 {
  background-image: url("../images/Ellipse-8.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-8-b {
  background-image: url("../images/Ellipse-8.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-11 {
  background-image: url("../images/Ellipse-11.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-11-b {
  background-image: url("../images/Ellipse-11-b.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-12 {
  background-image: url("../images/Ellipse-12.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-12-b {
  background-image: url("../images/Ellipse-12.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.e-13 {
  background-image: url("../images/Ellipse-13.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.r-4 {
  background-image: url("../images/Rectangle-6.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.r-5 {
  background-image: url("../images/Rectangle-5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.r-6 {
  background-image: url("../images/Rectangle-6.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.r-6-b {
  background-image: url("../images/Rectangle-6-b.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.r-7 {
  background-image: url("../images/Rectangle-7.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.line-shape {
  background-image: url("../images/shape.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

/*   l-works        */

.image-1 {
  background: url("../images/v1_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.image-2 {
  background: url("../images/v1_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.image-3 {
  background: url("../images/v1_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.image-4 {
  background: url("../images/v1_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*   l-about        */

.yellow {
  background: url("../images/yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.orange {
  background: url("../images/orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blue {
  background: url("../images/blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*   l-contact      */
